@using BookAssistant.Bussines.Entities
<div>
    @using (Ajax.BeginForm("AddBook", "Books", new AjaxOptions() { UpdateTargetId = "ddlBook" }))
    {
        @Html.Partial("_BookForm", new Book())
    }
</div>

