@model Crm.Admin.Models.NewUserModel
@{
    ViewBag.Title = "Add New User";
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm(   ("Add", "User"))
{
    @Html.AntiForgeryToken()
    @Html.EditorForModel()
    <button type="submit">Create</button>
    if(!string.IsNullOrEmpty(Model.CancelUrl))
    {
        <a href="@Model.CancelUrl">Cancel</a>
    }
}