<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/Scripts/JQueryLoadDoc.js"></script>
</head>
<body>
    <table>
        <tr>
            <td>
                <h2>Get</h2>
                <div id="getDiv"><b>Let $.get change this text </b></div>
                <button type="button" onclick="loadFullAsyncXMLDocWithGet()">Change Content with $.get</button>
            </td>
        </tr>
        <tr>
            <td>
                <h2>Post</h2>
                <div id="postDiv"><b>Let $.post change this text </b></div>
                <button type="button" onclick="loadFullAsyncXMLDocWithPost()">Change Content with $.post</button>
            </td>
        </tr>
        <tr>
            <td>
                <h2>Load</h2>
                <div id="loadDiv"><b>Let .load change this text </b></div>
                <button type="button" onclick="loadFullAsyncXMLDocWithLoad()">Change Content with .load</button>
            </td>
        </tr>
    </table>
</body>
</html>
