@model Crm.Admin.Models.NewPasswordModel
<div class="form-field">
    <span class="label-field">@Html.LabelFor(model => model.Value)</span>
    <span class="editor-field">@Html.EditorFor(model => model.Value)</span>
</div>
<div class="form-field">
    <span class="label-field">@Html.LabelFor(model => model.Confirmation)</span>
    <span class="editor-field">@Html.EditorFor(model => model.Confirmation)</span>
</div>